* {
    margin: 0;
    padding: 0;
}

.snow-container {
    background-image: url("images/snowfall.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    /* はみ出た要素を隠す */
    overflow: hidden;

    justify-content: center;
    align-items: center;
    display: flex;
}

.snow-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
}

.snow {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    /* animation: animation名 10秒掛けてanimation 直線的にanimation; */
    animation: snowFall 10s linear;
    z-index: 2;
}



h1 {
    /* display: inline; */
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    font-size: 8rem;
    z-index: 3;
    /* position: absolute; */
}


@keyframes snowFall {
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(5px);
    }
    10% {
        opacity: 1;
        transform: translateX(-5px);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 100vh;
    }
}